    p {
        padding: 0;
        margin: 0px;
        
    }

    .maindiv {

        background-color: rgba(150, 130, 232, 0.1) ;
        display: inline-block;
        padding: 8px;
        cursor: pointer;
        transition: transform .2s;
       
        margin-left: 20px;
        margin-right: 10px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0,0.15);
    }

    .title {

        font-weight: 700;
        
    }

    .image img {
        width: 100%;
    height: 120px;
    }

    .price , .offer {
        color: rgb(61, 148, 215);
    }

    .button {

        width: 100%;
        background-color:rgba(150, 131, 224, 0.2)  ;
        border-radius: 5px;
        border-color:  rgb(130, 105, 222);
        color: rgb(247, 164, 56);
        font-weight: 700;
        border-style: solid;
        transition: background-color 0.25s , border-color 0.25s;
        
    }

    .button:active {
        background-color: rgb(250, 234, 230)  ;
        border-color: rgb(0, 255, 76) ;
    }

    .maindiv:hover {

        transform: scale(1.1);
    }

    .griddiv {
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 20px;

        
    }

    .border{
        border: 3px solid black ;
        margin-top: 100px;
        margin-right: 1%;
        margin-left: 1%;
        padding-bottom: 10px;
        width: 98%;
    }

    .covid {

        margin-top: 5px;
    }